@import './Variables.scss';
@import './Mixins.scss';
@import './Base.scss';
@import './ColorScale.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;
  color: $text-1;
  background-color: $bg-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

#root {
  position: relative;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  overflow-x: hidden;
}

html.wf-loading {
  #root {
    display: none;
  }
}

@include tablet {
  body {
    overflow-y: auto;

    &.dialog-open {
      background-color: white;

      .scroll-container {
        display: none;
      }

      .title-bar {
        opacity: 0;
      }
    }
  }

  #root {
    height: unset;
    max-height: unset;
    flex-direction: column;
  }
}
