@import './Variables.scss';

// Misc
*::-moz-focus-inner {
  border: 0;
}

// Buttons
button {
  cursor: pointer;
  outline: none;

  &.plain {
    background: none;
    border: none;
    padding: 5px;
  }
}

// Links
a {
  outline: none;
}

a.plain {
  text-decoration: none;
  color: $text-1;
}

// Typography
.light {
  color: $text-2;
}

//Icons
i {
  background-size: contain;
  background-repeat: no-repeat;
}

.icon .fill {
  fill: darken($border-1, 10%);
  transition: fill 200ms;
}

button:hover .icon .fill {
  fill: darken($border-1, 30%);
}

// Scroll
.scroll-container {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg-2;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // Firefox
  scrollbar-color: $bg-2 transparent;
  scrollbar-width: thin;
}
