@import './Variables.scss';

// Misc
*::-moz-focus-inner {
  border: 0;
}

// Buttons
button {
  cursor: pointer;
  outline: none;
  font-family: $font-1;
  text-transform: uppercase;

  &.plain {
    background: none;
    border: none;
    padding: 5px;
  }

  &.link {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    color: $text-2;
    padding: 3px 0;
    user-select: none;
    border-bottom: 1px solid $border-1;

    &:hover,
    :active,
    :focus {
      color: $text-2;
    }
  }
}

// Links
a {
  outline: none;
}

a.plain {
  text-decoration: none;
  color: $text-1;
}

// Typography
.light {
  color: $text-2;
}

//Icons
i {
  background-size: contain;
  background-repeat: no-repeat;
}

.icon .fill {
  fill: $border-1;
  transition: fill 200ms;
}

button:hover .icon .fill {
  fill: darken($border-1, 20%);
}

// Scroll
.scroll-container {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg-2;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // Firefox
  scrollbar-color: $bg-2 transparent;
  scrollbar-width: thin;
}

.dialog-open .scroll-container {
  overflow-x: hidden;
  overflow-y: hidden;
}
