@import './Variables.scss';

// Misc
*::-moz-focus-inner {
  border: 0;
}

// Buttons
button {
  cursor: pointer;
  outline: none;
}

// Links
a {
  outline: none;
}

a.plain {
  text-decoration: none;
  color: $text-1;
}

// Typography

.light {
  color: $text-2;
}
