@import './Variables.scss';

.color-scale-item {
  &:nth-child(1) .color-scale-background {
    background-color: $scale-1;
  }

  &:nth-child(2) .color-scale-background {
    background-color: $scale-2;
  }

  &:nth-child(3) .color-scale-background {
    background-color: $scale-3;
  }

  // Children 5-8 are only shown during transitions from programme colors.
  &:nth-child(4) .color-scale-background,
  &:nth-child(5) .color-scale-background,
  &:nth-child(6) .color-scale-background,
  &:nth-child(7) .color-scale-background,
  &:nth-child(8) .color-scale-background {
    background-color: $scale-4;
  }
}

.color-scale-paths {
  path:nth-child(1) {
    fill: $scale-1;
  }

  path:nth-child(2) {
    fill: $scale-2;
  }

  path:nth-child(3) {
    fill: $scale-3;
  }

  // Children 5-8 are only shown during transitions from programme colors.
  path:nth-child(4),
  path:nth-child(5),
  path:nth-child(6),
  path:nth-child(7),
  path:nth-child(8) {
    fill: $scale-4;
  }
}

.programme {
  .color-scale-item {
    &:nth-child(1) .color-scale-background {
      background-color: $programme-scale-1;
    }

    &:nth-child(2) .color-scale-background {
      background-color: $programme-scale-2;
    }

    &:nth-child(3) .color-scale-background {
      background-color: $programme-scale-3;
    }

    &:nth-child(4) .color-scale-background {
      background-color: $programme-scale-4;
    }

    &:nth-child(5) .color-scale-background {
      background-color: $programme-scale-5;
    }

    &:nth-child(6) .color-scale-background {
      background-color: $programme-scale-6;
    }

    &:nth-child(7) .color-scale-background {
      background-color: $programme-scale-7;
    }

    &:nth-child(8) .color-scale-background {
      background-color: $programme-scale-8;
    }
  }

  .color-scale-paths {
    path:nth-child(1) {
      fill: $programme-scale-1;
    }

    path:nth-child(2) {
      fill: $programme-scale-2;
    }

    path:nth-child(3) {
      fill: $programme-scale-3;
    }

    path:nth-child(4) {
      fill: $programme-scale-4;
    }

    path:nth-child(5) {
      fill: $programme-scale-5;
    }

    path:nth-child(6) {
      fill: $programme-scale-6;
    }

    path:nth-child(7) {
      fill: $programme-scale-7;
    }

    path:nth-child(8) {
      fill: $programme-scale-8;
    }
  }
}

.projects {
  .color-scale-item {
    &:nth-child(1) .color-scale-background {
      background-color: $projects-scale-1;
    }

    &:nth-child(2) .color-scale-background {
      background-color: $projects-scale-2;
    }

    &:nth-child(3) .color-scale-background {
      background-color: $projects-scale-3;
    }

    &:nth-child(4) .color-scale-background,
    &:nth-child(5) .color-scale-background,
    &:nth-child(6) .color-scale-background,
    &:nth-child(7) .color-scale-background,
    &:nth-child(8) .color-scale-background {
      background-color: $projects-scale-4 !important;
    }
  }

  .color-scale-paths {
    path:nth-child(1) {
      fill: $projects-scale-1;
    }

    path:nth-child(2) {
      fill: $projects-scale-2;
    }

    path:nth-child(3) {
      fill: $projects-scale-3;
    }

    path:nth-child(4),
    path:nth-child(5),
    path:nth-child(6),
    path:nth-child(7),
    path:nth-child(8) {
      fill: $projects-scale-4;
    }
  }
}
