$bg-1: #f4f4f3;
$bg-2: #d8d8d8;

$border-1: #d4d3d3;

$text-1: #000000;
$text-2: #a4a2a2;

$green-1: #4b6231;
$green-2: #69804f;
$green-3: #879e6f;
$green-4: #aec494;
$green-5: #cddeb9;
$green-5-transparent: rgba(205, 222, 185, 0.98);

$blue-1: #314e62;
$blue-2: #4b6980;
$blue-3: #668aa4;
$blue-4: #8faabe;
$blue-5: #b1cfe4;

$white-transparent: rgba(255, 255, 255, 0.98);

$font-1: Roboto, sans-serif;

$shadow-1: 0 2px 10px rgba(0, 0, 0, 0.15);
$shadow-2: 0 1px 4px rgba(0, 0, 0, 0.1);

$bezier-1: cubic-bezier(0.25, 0.8, 0.25, 1);
