$bg-1: #f4f4f3;
$bg-2: #d8d8d8;

$border-1: #d4d3d3;

$text-1: #000000;
$text-2: #a4a2a2;

$green-1: #4b6231;
$green-2: #69804f;
$green-3: #879e6f;
$green-4: #aec494;
$green-5: #cddeb9;
$green-5-transparent: rgba(205, 222, 185, 0.98);

$font-1: Roboto, sans-serif;
