@import '../app/Variables.scss';

.login-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 340px;
    max-width: 100%;

    > *:not(:first-child) {
      margin-top: 30px;
    }

    button {
      .spinner {
        border-color: rgba(255, 255, 255, 0.4);
        border-left-color: transparent;
      }

      span {
        margin-left: 8px;
      }
    }

    .error {
      user-select: none;
      left: 0;
      right: 0;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      background-color: tomato;
      border-radius: 4px;
      color: white;
      padding: 10px;
    }
  }
}
