@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.bars-view {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 50px 41px;

  @include bars-and-legends();
}

@include desktop {
  // Hard-coded fragile shit for easy animated heights:
  .bars-view .legend-wrapper {
    overflow: hidden;
    transition: height 400ms $bezier-2;
  }

  .data-container {
    .bars-view .legend-wrapper {
      height: 55px;
    }

    &.programme-staff .bars-view .legend-wrapper,
    &.programme-budget .bars-view .legend-wrapper {
      height: 129px;
    }
  }
}
