@import '../app/Variables.scss';

.bars-view {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 45px 45px;

  .legend-row,
  .bar-row {
    display: flex;
  }

  .legend-row {
    border-bottom: 1px solid $border-1;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

  .bar-row {
    align-items: center;
    height: 120px;
    padding-right: 50px;
  }

  .column {
    display: flex;

    &:nth-child(2) {
      flex-grow: 1;
    }
  }

  .legend-row .column {
    flex-direction: column;

    &:nth-child(1) {
      width: 220px;
    }
  }

  .bar-row .column:nth-child(1) {
    width: 220px;
  }

  .select-wrapper {
    margin-right: 30px;
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    color: $text-2;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .bar-title {
    padding: 0 30px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    font-size: 18px;
    color: $text-3;

    .name {
      font-weight: 600;
      text-align: right;
      margin-bottom: 3px;
    }

    .total {
      font-weight: 300;
    }
  }

  .legend-wrapper {
    overflow: hidden;
    transition: height 400ms $bezier-2;
  }
}

// Hard-coded fragile shit for easy animated heights:
.data-container {
  .bars-view .legend-wrapper {
    height: 55px;
  }

  &.programme-staff .bars-view .legend-wrapper,
  &.programme-budget .bars-view .legend-wrapper {
    height: 129px;
  }
}
