@import '../app/Variables.scss';

.bar-stack {
  display: flex;
  width: 100%;
  margin: 0 -4px;

  .bar-stack-item {
    display: flex;
    flex-direction: column;
    min-width: 10px;

    .bar {
      height: 70px;
      border-radius: 1px;
      border: 3px solid $bg-1;
    }

    .value {
      font-size: 14px;
      font-weight: 500;
      color: $text-2;
      padding: 4px 0 0 3px;
    }

    &.zero {
      min-width: 0;

      .value {
        display: none;
      }
    }
  }
}
