.legend {
  display: flex;
  margin: -4px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .legend-item {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 4px;

    .legend-color {
      height: 12px;
      border-radius: 1px;
    }

    .legend-text {
      font-size: 13px;
      margin-top: 8px;
      margin-right: 5px;
    }
  }
}
