.legend {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;

  .legend-item {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 4px;

    .legend-color {
      height: 12px;
    }

    .legend-text {
      font-size: 13px;
      margin-top: 8px;
      margin-right: 5px;
    }
  }
}
