.legend {
  display: flex;

  .legend-item {
    display: flex;
    flex-direction: column;
    width: 100px;

    &:not(:first-child) {
      margin-left: 8px;
    }

    .legend-color {
      height: 12px;
    }

    .legend-text {
      font-size: 13px;
      margin-top: 8px;
    }
  }
}
