@import '../app/Variables.scss';

.pie-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 40px 30px;

  .pie-grid-item {
    padding: 3%;
    width: 25%; // 4 per row, will need to change this with media queries later.

    .title {
      color: $green-1;
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
  }
}
