@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.pie-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 40px 30px;

  .pie-grid-item {
    padding: 3%;
    width: 25%; // 4 per row, will need to change this with media queries later.

    .title {
      color: $green-1;
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    @include tablet {
      width: 33%;
    }

    @include tablet-small {
      width: 50%;
    }

    @include phone {
      width: 100%;
    }

    @include big-screen {
      width: 20%;
    }
  }

  @include tablet {
    padding: 30px;
  }

  @include phone {
    .button-container {
      margin: 10px 0 20px 0;
    }
  }
}
