@import '../app/Variables.scss';

.nro-project-details {
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;

  .pie-charts {
    display: flex;
    padding-top: 40px;

    .project-pie-chart {
      width: 60%;

      &:not(:first-child) {
        margin-left: 100px;
      }
    }
  }
}
