@import '../app/Mixins.scss';

.project-group-details {
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;

  @include bars-and-legends();

  .legend-row {
    margin-top: 5px;
  }

  .bar-row .column:nth-child(2) {
    position: relative;
  }
}
