@import '../app/Variables.scss';

.map-view {
  flex-grow: 1;
  padding: 20px 50px 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .map-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .data-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    circle {
      fill: $green-5-transparent;
    }
  }
}
