@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.map-view {
  position: relative;
  flex-grow: 1;
  padding: 3% 7% 7% 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .map-container {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      pointer-events: none;
      user-select: none;
    }
  }

  .data-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    circle {
      cursor: pointer;
      fill: $map-circles;
      transition: fill 300ms;

      &:hover {
        fill: darken($map-circles, 10%);
      }

      &.selected {
        fill: darken($map-circles, 20%);
      }
    }
  }
}

.programme .map-view .data-svg circle {
  fill: $map-circles-programme;

  &:hover {
    fill: darken($map-circles-programme, 10%);
  }

  &.selected {
    fill: darken($map-circles-programme, 20%);
  }
}
