@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.info-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white-transparent;
  border-left: 1px solid $border-1;
  z-index: 100;

  .dialog-content {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 50px;
    margin-right: 50px;
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 12px;

    .icon {
      width: 30px;
      height: 30px;
    }
  }

  .content {
    display: flex;

    .text {
      width: 50%;
      font-size: 24px;
      font-weight: 300;

      p:not(:first-child) {
        margin-top: 20px;
      }
    }

    .images {
      width: 50%;
      padding-left: 40px;

      > img {
        width: 100%;

        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }

  @include tablet {
    position: relative;
    border-left: none;

    .dialog-content {
      padding: 30px;
    }

    h1 {
      margin-bottom: 40px;
    }
  }

  @include phone {
    .dialog-content {
      padding: 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    .content {
      flex-direction: column;

      .text {
        font-size: 18px;
        width: 100%;
      }

      .images {
        width: 100%;
        padding: 30px 0 0 0;

        img:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}
