@import '../app/Mixins.scss';

.data-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    margin-top: -60px;

    .page-content h1 {
      top: 0;
      left: 70px;
      right: 70px;
      padding: 20px 0;
      display: flex;
      justify-content: center;

      > span:not(:first-child) {
        z-index: 20;
        margin-left: 5px;
      }
    }
  }

  @include phone {
    .page-content h1 span:not(.data-selection) {
      display: none;
    }
  }
}

@include tablet {
  .dialog-open .scroll-container {
    display: none;
  }
}
