@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 70px;
  min-width: 70px;
  padding: 15px 0 10px 0;

  .logo {
    font-weight: 900;
    font-size: 24px;
    padding-right: 1px;
    user-select: none;
  }

  .grower {
    flex-grow: 1;
  }

  button.plain {
    padding: 10px;
  }

  .menu-button {
    display: none;
  }

  .settings-icon {
    margin: 1px -2px -1px 2px;
  }

  .anchor {
    position: relative;
  }

  .tooltip {
    position: absolute;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    left: 50px;
    top: 6px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 120ms;

    &::before {
      $anchor-width: 4px;
      content: '';
      position: absolute;
      border-style: solid;
      border-color: transparent black transparent transparent;
      border-width: $anchor-width $anchor-width $anchor-width 0;
      top: 10px;
      left: -$anchor-width;
    }
  }

  .anchor:hover .tooltip {
    opacity: 1;
  }
}

.frame-grower {
  width: 0;

  &:nth-child(2) {
    flex-grow: 1;
  }
}

.menu-background-overlay {
  display: none;
}

@include tablet {
  .title-bar {
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
    flex-direction: row;
    padding: 0 15px 0 22px;

    .menu-button {
      display: flex;

      .icon .fill {
        fill: $text-1;
      }

      &:hover,
      &:active,
      &:focus {
        .icon .fill {
          fill: darken($text-1, 20%);
        }
      }
    }

    .settings-button,
    .logout-button {
      display: none;
    }
  }

  .menu-background-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    pointer-events: none;
    transition: background-color 400ms;
  }

  .menu-open .menu-background-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
